@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(AppAdmin).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)" />
    </Found>
    <NotFound>
        <p>Không tìm thấy trang.</p>
    </NotFound>
</Router>
