@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<nav class="sidebar border-end">
    <ul class="nav flex-column list-unstyled mt-3">
        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin" Match="NavLinkMatch.All">
                <i class="fa-solid fa-gauge me-2"></i> Bảng điều khiển
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/orders" Match="NavLinkMatch.All">
                <i class="fa-solid fa-envelope-open-text me-2"></i> Đơn hàng
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/products" Match="NavLinkMatch.All">
                <i class="fa-brands fa-product-hunt me-2"></i> Sản phẩm
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/categories" Match="NavLinkMatch.All">
                <i class="fa-solid fa-layer-group me-2"></i> Danh mục
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/brands" Match="NavLinkMatch.All">
                <i class="fa-solid fa-tags me-2"></i> Thương hiệu
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/sliders" Match="NavLinkMatch.All">
                <i class="fa-solid fa-sliders me-2"></i> Slider
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/campingtips" Match="NavLinkMatch.All">
                <i class="fa-solid fa-campground me-2"></i> Kinh nghiệm cắm trại
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link fw-semibold" href="/admin/reviews" Match="NavLinkMatch.All">
                <i class="fa-solid fa-star me-2"></i> Đánh giá sản phẩm
            </NavLink>
        </li>
    </ul>
    <hr />
</nav>
